h1 {
	margin: 70px 0 0 0;
	color: IndianRed;
	font-size: xx-large;
	text-align: left;
	font-family: georgia, serif, header;
	padding-left: 100px;
}
h2 {
	font-family: georgia, serif;
	font-size: medium;
	padding-left: 100px;
	margin: 20px 0 150px 0;
}
div {
	margin: 7px 0;
}
body {
	background-image:url("Lana-Del-Rey.jpg");
	background-size: cover;
	background-position: -180px;
	background-repeat: no-repeat;
	color: #461010;
	font-family: georgia;

}



section {
	margin: 0px 0 80px 0;
	padding-left: 325px;
}
p {
	margin: 15px 0;
}
html {
	margin-top: 70px 0;
	margin-bottom: 60px 0;
}
footer {
	font-size: small;
	color: IndianRed;
	padding-left: 100px;
	margin: 0 0 90px 0;
}
footer p {
	margin: 5px 0 0 0;
}
