.mobile1{
	height: 812px;
	width: auto;
}
.mobile2{
	height: 812px;
	width: auto;
}
.mobile3{
	height: 812px;
	width: auto;
}
.desktop1{
	height: 1080px;
	width: auto;
}
.desktop2 {
	height: 1080px;
	width: auto;
}
.desktop3 {
	height: 1080px;
	width: auto;
}