
a {position: absolute;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}

html,
body {
	height: 100%;
}

html {
	font-family: 'Lobster Two', cursive;
}

body {
	background-repeat: no-repeat;
}






.textbox1 {
				position: absolute; 
				z-index: 100;
				color: white;
				font-size: 2rem;
				text-align: center;
				width: 80%;
				left: 10%;
				/*top: 20%;*/
				/*bottom: 10%;*/
				line-height: 90%;}


/*can get bigger at some sizes. if you want attribution to change positioning,
use the p class tag youve established. but if you want to keep 
together, style the positioning under the general textbox1 tag.*/
	@media (min-width: 400px) {
		.textbox1 {
			font-size: 3.5rem;
			position: static;
			width: 80%;
			margin-top: 5%;
			left: 0%;

		}

		.attribution1 {
			position: absolute;
			bottom: 5%;
			right: 10%;
		}
	}

	@media (max-width: 1160px) {
		.textbox1 {
			margin: auto;
			font-size: 3rem;
			line-height: 110%;
		}

	}

	@media (max-width: 700px) {
		.textbox1 {
			font-size: 2rem;
			color: #F641AD;
		}
	/*
	@media (max-width: 400px) {
		.textbox1 {
			font-size: 2rem;
			color: pink;		
		}

		.attribution1 {
			text-align: center;
			width: 100%;
			top: 20%;
			display: block;
		}*/
	}





.quote1 {
	margin-bottom: 0;
}
.attribution1 {
	margin-top: 8%;

}
/*styling for the background image in the body*/
#bodycard1 {
	background-image: url('../images/card1image.jpg');
	background-size: cover;
	background-position: center center;
	margin: 0;
}









#bodycard2 {
	background-image: url('../images/card2image.jpg');
	background-size: cover;
	background-position: center center;
	margin: 0;
}

.textbox2 {

				position: absolute; 
				z-index: 100;
				color: #F641AD;
				font-size: 2rem;
				text-align: center;
				width: 80%;
				left: 10%;
				/*top: 20%;*/
				/*bottom: 10%;*/
				line-height: 110%;}
	
	@media (max-width: 700px) {
		.textbox2 {
			font-size: 1.5rem;
			top: 7%;
			color: white;
		}
	
	@media (max-width: 400px) {
		.textbox2 {
			position: static;
			font-size: 1.25rem;
			color: pink;
			margin-left: 10%;
			margin-top: 15%;
		}

		/*.quote2 {*/
			/*font-size: 1.25rem;*/
			/*color: pink;*/
			/*top: 10%;*/
			/*margin: 10 15 10 15;*/
		/*}*/
		.attribution2 {
			position: absolute;
			font-size: 1rem;
			color: pink;
			bottom: 3%;
			right: 15%;
		}
	}


	}



	.quote2 {
		margin-bottom: 0;
	}
	.attribution2 {
		margin-top: 2%;
	}












#bodycard3 {
	background-image: url('../images/card3image.jpg');
	background-size: cover;
	background-position: center center;
	margin: 0;
}

.textbox3 {

				position: absolute; 
				z-index: 100;
				color: pink;
				font-size: 2.5rem;
				text-align: left;
				width: 30%;
				left: 3%;
				/*top: 20%;*/
				/*bottom: 10%;*/
				line-height: 110%;}

@media (max-width: 1000px) {
		.textbox3 {
			font-size: 1.75rem;
			top: 7%;
			color: white;
			text-align: center;
			width: 80%;
			left: 10%;}

		.attribution3 {
		margin-top: 2%;
		}

	}

@media (max-width: 400px) {
		.textbox3 {
			position: static;
			font-size: 1.65rem;
			margin-top: 15%;
			text-align: center;
			width: 60%;
			margin-left: 20%;

		}

		.attribution3 {
			position: absolute;
			bottom: 5%;
			font-size: 1rem;
			right: 10%;
			/*text-align: left;*/
		}

}







	.quote3 {
		margin-bottom: 0;
	}
	.attribution3 {
		margin-top: 2%;
	}




